.footer {
	background: $white;
	margin-top: auto;
  --sPT: #{rem(30)};
	--sPB: #{rem(30)};
	// --sTPB: #{rem()};
  @include media-breakpoint-up(lg) {
    --sPT: #{rem(70)};
    --sPB: #{rem(230)};
  }
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: #{rem(30)};
    @include media-breakpoint-up(lg) {
      padding-left: 100px;
    }

	}

	&__item{

	}
	&__title{
		margin-bottom: rem(20);
	}
  .title {
    font-family: $headings-font-family;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.01em;
    @include media-breakpoint-down(md) {
      font-size: rem(14);
    }
  }

  .p-left {
    @include media-breakpoint-down(md) {
      padding-left: 8vw;
    }

  }

  ul {
    list-style-type: none;
    line-height: 110%;
  }
  li {
    margin-bottom: rem(11);
    font-size: rem(12);
    font-weight: 500;
    @include media-breakpoint-up(md) {
      font-size: rem(14);
    }
  }
  li a {
    color: #555A64;
    &:hover {
      color: $primary;
    }
  }

  &__tel {
    color: $gray-900;
    &:hover {
      color: $primary;
    }
  }

  &__time {
    color: $gray-600;
    font-weight: 500;
    max-width: rem(174);
    line-height: 110%;
    @include media-breakpoint-up(lg) {
      max-width: rem(246);
    }
  }

  .address {
    margin-top: rem(22);
    margin-bottom: rem(34);
    @include media-breakpoint-up(lg) {
      margin-top: rem(31);
      margin-bottom: rem(40);
      font-size: rem(14) !important;
    }
  }
  
  .container {
    @include media-breakpoint-down(sm) {
      margin-left: rem(-10);
      margin-right: rem(-10);
    }

  }
// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}


// 
@include media-breakpoint-between(md, xl) {}



// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}
}
