mixin sReviews(data)
	// start sReviews
	+b.SECTION.sReviews.section#sReviews&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Отзывы о студии
			+e.row.row
			+e.btn-wrap.text-center: +e.btn.btn.btn-primary(href='#') Оставить отзыв
	// end sReviews