mixin sReviews(data)
	// start sReviews
	+b.SECTION.sReviews.section#sReviews&attributes(attributes)
		.container
			+b.section-title.text-center-md
				h2 sReviews
				
			+e.row.row
	// end sReviews