
mixin modal() 
	//  start modals
	div(id="modal-call"  style="display: none" )
		+b.modal-win
			+form-wrap
				.text-center
					+e.title.form-data.h3.ttu Обратный звонок
					p.after-headline Заполните заявку и&nbsp;мы&nbsp;с&nbsp;Вами свяжемся в&nbsp;течение 15&nbsp;минут

				+input("Ваше Имя")(required)
				+input("Ваше телефон",'tel')(required)
				+input("Ваше телефон",'tel')(required)
				+e.BUTTON.btn.btn(type="submit"  ) submit
				+policy()
				+policy()
	div(id="modal-cart" style="display: none" )
		+b.modal-win--lg
			+e.inner-wrap
				+e.title.h3 Корзина товаров
				+e.header.sBasket__header.d-block 4 товара
				+e.items
					.custom-scroll()
						+cartProductModal()
						+cartProductModal()
						+cartProductModal()
						+cartProductModal()
						+cartProductModal()
						+cartProductModal()
						+cartProductModal()
						+cartProductModal()
						+cartProductModal()
						+cartProductModal()
						+cartProductModal()
						+cartProductModal()
			+e.sum.sBasket__sum
				+e.sum-wrap.sBasket__sum-wrap
					+e.item.sBasket__item
						.small.sBasket__title Стоимость
						+e.price.sBasket__price.fw-500 0 ₽
					+e.item.sBasket__item
						.small.sBasket__title Доставка
						+e.price.sBasket__price.fw-500 0 ₽
					+e.item.sBasket__item.summary
						.sBasket__title.item-sum.fw-500 Итого:
						+e.price.sBasket__price.fw-500 13 990 ₽
				+e.btn-wrap: +e.BUTTON.btn.btn.btn-primary(type="submit"  ) Оформить заказ
	// #modal-call
	div(id="modal-1"  style="display: none" )
		+b.modal-win
			+form-wrap
				.icon-wrap: +icon('clean')
				+e.title.form-data.title.list-title Бесплатная консультация
				p Студия соблюдает все требования септики и антисептики: мы гарантируем здоровый и качественный пирсинг, а так же постоянную поддержку на всем периоде заживления
	div(id="modal-2"  style="display: none" )
		+b.modal-win
			+form-wrap
				.icon-wrap: +icon('list-2')
				+e.title.form-data.title.list-title Удобное расположение
				p Студия соблюдает все требования септики и антисептики: мы гарантируем здоровый и качественный пирсинг, а так же постоянную поддержку на всем периоде заживления
	div(id="modal-3"  style="display: none" )
		+b.modal-win
			+form-wrap
				.icon-wrap: +icon('list-3')
				+e.title.form-data.title.list-title Бесплатная консультация
				p Студия соблюдает все требования септики и антисептики: мы гарантируем здоровый и качественный пирсинг, а так же постоянную поддержку на всем периоде заживления
	div(id="modal-4"  style="display: none" )
		+b.modal-win
			+form-wrap
				.icon-wrap: +icon('list-4')
				+e.title.form-data.title.list-title Опытные мастера
				p Студия соблюдает все требования септики и антисептики: мы гарантируем здоровый и качественный пирсинг, а так же постоянную поддержку на всем периоде заживления
	div(id="modal-5"  style="display: none" )
		+b.modal-win
			+form-wrap
				.icon-wrap: +icon('delivery')
				+e.title.form-data.title.list-title Доставка по всей России
				p Студия соблюдает все требования септики и антисептики: мы гарантируем здоровый и качественный пирсинг, а так же постоянную поддержку на всем периоде заживления
	div(id="modal-6"  style="display: none" )
		+b.modal-win
			+form-wrap
				.icon-wrap: +icon('ring')
				+e.title.form-data.title.list-title Более 2000 украшений в наличии
				p Студия соблюдает все требования септики и антисептики: мы гарантируем здоровый и качественный пирсинг, а так же постоянную поддержку на всем периоде заживления
	div(id="modal-7"  style="display: none" )
		+b.modal-win
			+form-wrap
				.icon-wrap: +icon('list-3')
				+e.title.form-data.title.list-title Находимся в центре в 4 минутах от метро
				p Студия соблюдает все требования септики и антисептики: мы гарантируем здоровый и качественный пирсинг, а так же постоянную поддержку на всем периоде заживления
	div(id="modal-8"  style="display: none" )
		+b.modal-win
			+form-wrap
				.icon-wrap: +icon('list-1')
				+e.title.form-data.title.list-title Приятные цены на любой кошелёк
				p Студия соблюдает все требования септики и антисептики: мы гарантируем здоровый и качественный пирсинг, а так же постоянную поддержку на всем периоде заживления
	// #modal-call

	
	// end modals