:root {
	--fancybox-content-bg: none;
}

.fancybox__content {
	padding: 0;
	max-width: 100%;
}
.modal-win {
	// display: block;
	background-color: #fff;
	max-width: 100%;
	position: relative;
	width: rem(500);
  border-radius: rem(20);
	// min-height: 100%; 
	padding: rem(48) rem(39);

  &--lg {
    width: rem(664);
    padding: rem(48) rem(21) rem(43);
    
    .btn {
      border-radius: rem(10);
      --bs-btn-padding-y: #{rem(16)};
      width: 100%;
      font-size: rem(14px);
      line-height: 110%;
      font-family: $default-font;
    }

    .summary {
      margin-top: rem(12);
    }
    .custom-scroll {
      height: 100%;
    }
    .modal-win {
      &__items {
        height: calc(100vh - 400px);
      }
      &__title {
        font-size: rem(24px);
        margin-bottom: rem(17);
      }

      &__sum-wrap {
        margin-bottom: rem(10);
      }

      &__header {
        text-align: end;
        font-weight: 500;
        font-size: 13px;
        line-height: 110%;
        letter-spacing: 0.02em;
        color: #8f99ab;
        padding-bottom: rem(5);
      }
    }
  }

  &--master {
    width: rem(410);
    padding: rem(30);
    padding-right: rem(22);
    padding-left: rem(22);
    @include media-breakpoint-up(lg) {
      padding: rem(48);
      padding-bottom: rem(40);
      padding-left: rem(20);
      width: rem(763);
    }

    .btn {
      @include media-breakpoint-down(lg) {
        font-size: 12px;
        padding: rem(5);
      }
      @include media-breakpoint-up(lg) {
        --bs-btn-padding-x: #{rem(40)};
      }
    }
  }
  .master-item {
    padding: 0;
  }

  &__exp {
    font-family: $headings-font-family;
    @include media-breakpoint-down(lg) {
      font-size: $small;
    }
  }

  &__item-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(8);
    @include media-breakpoint-up(lg) {
      gap: rem(20);
      margin-top: rem(40);
    }
  }

  &__master {
    color: #8f8f8f;
    font-family: $headings-font-family;
    @include media-breakpoint-down(lg) {
      font-size: $small;
    }
    margin-bottom: rem(24);
    @include media-breakpoint-up(lg) {
      margin-bottom: rem(30);
    }
  }

  &__title-md {
    @include media-breakpoint-up(lg) {
      font-size: rem(29px);
    }
  }

  &__title-sm {
    font-size: rem(13px);
    margin-bottom: rem(10);
    @include media-breakpoint-up(lg) {
      font-size: rem(16px);
    }
  }

  &__item-slide {
    margin-bottom: rem(20);
    position: relative;
    @include media-breakpoint-up(lg) {
      &:not(:last-child) {
        margin-bottom: rem(44);
      }
    }
  }

	.modal-content {
		// max-width: 485px;
		// padding-right: 40px 15px;
	}

	.mfp-close {
		color: $primary;
		font-size: 40px;
		font-weight: 100;
	}

  .list-title {
    font-size: rem(24);
    line-height: 110%;
    letter-spacing: 0.02em;
    margin-bottom: rem(51);
  }
  .form-wrap {
    max-width: rem(418);
  }

  .icon-wrap {
    width: 80px;
    height: 80px;
    background: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: rem(10);
    margin-bottom: rem(47);

    .icon {
      font-size: rem(30);
      fill: none;
      stroke-width: 1.5px;
      stroke: $black;
    }
    .icon-clean, .icon-ring {
      fill: $black ;
    }
  }
  p {
    margin-bottom: 0;
  }
}

a {
	outline: 0 !important;
}

.modal-form {
	position: relative;
}

#foot-dialog {
	h3 {
		font-size: em(36);
	}
}

.mfp-close {
	user-select: none; // width: 44px;
	// height: 44px;
	// line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: .65; // padding: 0 0 18px 10px;
	// color: #fff;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace;
	overflow: visible;
	cursor: pointer;
	background: 0 0;
	border: 0;
	display: block;
	outline: 0;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	color: $body-color;
	opacity: 1;
	font-size: 50px;
	font-weight: 100;
	width: 56px;
	height: 56px; // box-shadow: 0 10px $h2-font-size rgba(0, 0, 0, 0.15);
	// background-color: #fff;
	border-radius: 50%;
	line-height: 56px;
	text-align: center;
	margin-top: -5px;
	margin-right: -5px;
	@include mt;

	&:hover {
		// background-color: #e3f3f6;
	}
}

@include media-breakpoint-up(sm) {
	.modal-text {
		max-width: 1000px;
	}
}

.polite {
	.link {
		color: $primary;
		cursor: pointer;
		text-decoration: underline;

		:hover {
			display: none;
		}
	}
}

.master-slider {
  overflow: hidden;
  .swiper-button-hand {
    --swiperBgDef: white;
    --swiperArrowSize: 33px;
    box-shadow:  0 4px 21px 0 rgba(90, 90, 90, 0.53);
    top: 20%;

    .icon {
      font-size: rem(10);
    }
  }
  .swiper-button-hand-next {
    right: -10px;
  }
  .swiper-button-hand-prev {
    left: -10px;
  }
	&__slider {
		position: relative;
    height: 70px;
  }

  &__img-wrap {
    border-radius: 6px;
    overflow: hidden;
    aspect-ratio: 60/71;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.master-certif-slider {
  overflow: hidden;
	&__slide {
    width: auto;
    position: relative;
  }
  &__img-wrap {
    border: 1px solid #F5E7E7;
    overflow: hidden;
    width: 77px;
    aspect-ratio: 77/67;
    @include media-breakpoint-up(lg) {
      width: 158px;
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

// 
@include media-breakpoint-between(md, xl) {}

// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {

	.fancybox__container {
		width: 100% !important;
		min-height: 100%; 
		transform: none !important;
	}
}



.fancybox-throwOutUp {
  animation: 0.25s ease both fancybox-throwOutUp;
}

.fancybox-throwOutDown {
  animation: 0.25s ease both fancybox-throwOutDown;
}

@keyframes fancybox-throwOutUp {
  from {
    transform: translate3d(0, -5%, 0);
    opacity: 0;
  }
	
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

}

@keyframes fancybox-throwOutDown {
  to {
    transform: translate3d(0, 10%, 0);
    opacity: 0;
  }
}

.fancybox__content>.f-button.is-close-btn  {
  // top: 32px;
  // right: 30px;
  top: 11px;
  right: 9px;
  --f-button-color: #{$black};
}

.fancybox__container:not(.is-compact) .fancybox__slide.has-close-btn {
  padding-top: 10px;
}

.mCSB_scrollTools {
  right: -18px !important;
}