@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-top {
	$h: 12;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(12 / #{$h} *1em );
}
.icon-back {
	$h: 19;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(19 / #{$h} *1em );
}
.icon-bag {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-basket {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(22 / #{$h} *1em );
}
.icon-box {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-box-remove {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(17 / #{$h} *1em );
}
.icon-box-tick {
	$h: 17;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(18 / #{$h} *1em );
}
.icon-card {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-check {
	$h: 27;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(27 / #{$h} *1em );
}
.icon-chevron-left {
	$h: 19;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(14 / #{$h} *1em );
}
.icon-chevron-right {
	$h: 19;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(14 / #{$h} *1em );
}
.icon-clean {
	$h: 20;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(20 / #{$h} *1em );
}
.icon-close {
	$h: 17;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-delivery {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-fb {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-filter {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(18 / #{$h} *1em );
}
.icon-heart {
	$h: 22;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-heart-1 {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-insta {
	$h: 30;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(30 / #{$h} *1em );
}
.icon-instagram {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-list-1 {
	$h: 20;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(20 / #{$h} *1em );
}
.icon-list-2 {
	$h: 20;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(20 / #{$h} *1em );
}
.icon-list-3 {
	$h: 20;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(20 / #{$h} *1em );
}
.icon-list-4 {
	$h: 20;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(20 / #{$h} *1em );
}
.icon-location {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-location-2 {
	$h: 39;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(39 / #{$h} *1em );
}
.icon-package-box {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-phone {
	$h: 39;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(38 / #{$h} *1em );
}
.icon-question {
	$h: 20;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(20 / #{$h} *1em );
}
.icon-ring {
	$h: 20;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(20 / #{$h} *1em );
}
.icon-search {
	$h: 17;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(17 / #{$h} *1em );
}
.icon-setting {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-settings {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-share {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-telegram {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-tg {
	$h: 30;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(30 / #{$h} *1em );
}
.icon-truck-fast {
	$h: 14;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(17 / #{$h} *1em );
}
.icon-user {
	$h: 26;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(26 / #{$h} *1em );
}
.icon-user-cabinet {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-user-no-border {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-viber {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-vk {
	$h: 30;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(30 / #{$h} *1em );
}
.icon-whatsapp {
	$h: 30;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(30 / #{$h} *1em );
}
