// start .sCertificates
.sCertificates {
	--sPT: #{rem(38)};
	// --sPB: #{rem()};
	--sTPB: #{rem(54)};
  @include media-breakpoint-up(lg) {
    --sTPB: #{rem(46)};
    --sPB: #{rem(54)};
  }
	
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title{
		
    @include media-breakpoint-down(lg) {
      text-align: center;
    }
	}
  h2 {
    font-size: rem(24);
    font-weight: 700;
  }
	.swiper {
    overflow: visible;
  }

	&__slider {
		position: relative;
    @include media-breakpoint-up(lg) {
      margin-bottom: rem(44);
    }
  }
	&__slide {
    width: auto;
  }

  &__img-wrap {
    border-radius: rem(20);
    position: relative;
    overflow: hidden;
    display: block;
    aspect-ratio: 1/1;
    width: rem(186);
    @include media-breakpoint-up(lg) {
      aspect-ratio: 273/226;
      width: rem(273);
    }
  }

  .btn {
    width: 207px;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    --bs-btn-padding-y: #{rem(20)};
  }

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sCertificates