mixin sQA(data)
	// start sQA
	+b.SECTION.sQA.section#sQA&attributes(attributes)
		.container
			+b.section-title.pricing
				h2 Ответы на частые вопросы
			+e.row.row
				+e.col.col-12.col-lg-7
					+ddGroup
						+ddGroupItem('Пирсинг - это больно?', )
							+e.inner-wrap
								p Все зависит от прокола. Средняя продолжительность заживления 3-6 месяцев. Некоторые проколы заживают за 1 месяц, некоторые за 1 год.
								p Главное четко следовать рекомендациям мастера. Они могут отличаться в зависимости от типа прокалываемых тканей, но их выполнение напрямую влияет на скорость и качество заживления.
						+ddGroupItem('Процедура прокола безопасна?', )
							+e.inner-wrap
								p Все зависит от прокола. Средняя продолжительность заживления 3-6 месяцев. Некоторые проколы заживают за 1 
						+ddGroupItem('Как быстро заживает пирсинг?', 'active')
							+e.inner-wrap
								p Все зависит от прокола. Средняя продолжительность заживления 3-6 месяцев. Некоторые проколы заживают за 1 месяц, некоторые за 1 год.
								p Главное четко следовать рекомендациям мастера. Они могут отличаться в зависимости от типа прокалываемых тканей, но их выполнение напрямую влияет на скорость и качество заживления.
						+ddGroupItem('Где лучше покупать украшения?', )
							+e.inner-wrap
								p Все зависит от прокола. Средняя продолжительность заживления 3-6 месяцев. Некоторые проколы заживают за 1 месяц, некоторые за 1 год.
						+ddGroupItem('Возрастное ограничение на пирсинг', )
							+e.inner-wrap
								p Все зависит от прокола. Средняя продолжительность заживления 3-6 месяцев. Некоторые проколы заживают за 1 месяц, некоторые за 1 год.

				+e.col.col-12.col-lg
	// end sQA