mixin sInstructions(data)
	// start sInstructions
	+b.SECTION.sInstructions.section#sInstructions&attributes(attributes)
		.container
			+b.section-title
				h2 Памятки
				
			+e.row.row
	// end sInstructions