// start .sAbout
.sAbout {
	--sPT: #{rem(44)};
	--sPB: #{rem(10)};
	--sTPB: #{rem(30)};
  @include media-breakpoint-up(xl) {
    --sPT: #{rem(60)};
    --sPB: #{rem(44)};
    --sTPB: #{rem(38)};
  }

	&__grid {
    @include media-breakpoint-up(xl) {
      display: grid;
      grid-template-columns: .7fr .5fr .5fr .5fr ;
      grid-template-rows: 238px 1fr 357px;
      gap: rem(19) rem(24);
    }
    a {
      display: block;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
    }
    .play-text {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translateX(-50%);
      font-weight: 600;
      font-size: rem(20px);
      color: #fff;
      width: max-content;
    }
	}
  .mt-10 {
    margin-top: rem(44);
  }
  .item-wrap-span-2 {
    grid-column: span 2;
  }
  .row-1-3 {
    @include media-breakpoint-up(xl) {
      grid-row: 1/3;
    }
  }
  .row-2-4 {
    grid-row: 2/4;
  }

	&__item-wrap {
    position: relative;
    border-radius: rem(20);
    overflow: hidden;
  }

  &__item:not(:first-child) {
    @include media-breakpoint-down(xl) {
      display: none;
    }
  }
  .section-title, p {
    @include media-breakpoint-down(xl) {
      text-align: center;
    }
  }
  p {
    font-size: rem(14px);
    line-height: 186%;
    text-align: center;
    color: #070707;
    margin-bottom: rem(32);
    @include media-breakpoint-up(xl) {
      text-align: start;
      font-size: rem(16px);
      line-height: 162%;
    }
  }

	&__video-wrap {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    margin-bottom: rem(30);

    &:hover .play-wrap {
      opacity: .8;
    }
    video {
      border-radius: rem(20);
      width: 100%;
    }
	}

  .play-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: rem(28);
    background: white;
    border-radius: 50%;
    @include mt;
    @include media-breakpoint-up(xl) {
      padding: rem(34);
    }

    img {
      display: block;
      
    }
  }
  .video.is-playing + .play-wrap {
    display: none;
  }

  &__slider--js {
		position: relative;
    width: 100vw;
    margin-top: rem(45);
  }
  &__img-wrap {
    position: relative;
    height: 330px;
  }
  .swiper-pagination {
    position: absolute;
    bottom: 14px;
    z-index: 2;
  }
  .swiper-button-hand {
    --swiperBgDef: white;
    --swiperArrowSize: 49px;
  }
  .swiper-button-hand-next {
    right: 37px;
  }
  .swiper-button-hand-prev {
    left: 37px;
  }

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sAbout