extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sProductSlider/_sProductSlider.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Избранное'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+sCatalog2('Избранное')
		+sProductSlider
		
	+parts('footer')