extends ../layout/main.pug

include ../blocks/sForm/_sForm.pug

include ../blocks/sOrder/_sOrder.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Оформление товара'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+sOrder
		
	+parts('footer')
