extends ../layout/main.pug

include ../blocks/sForm/_sForm.pug

include ../blocks/sAuth/_sAuth.pug

block variables
	- let  mainPage= 'auth-pages' 
	- let  bg= null

block title
	- let  title= 'Забыл пароль'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+sAuth4(title)(style="max-width: 587px")
		
	+parts('footer')
