extends ../layout/main.pug

include ../blocks/sForm/_sForm.pug

include ../blocks/sAuth/_sAuth.pug

block variables
	- let  mainPage= 'auth-pages' 
	- let  bg= null

block title
	- let  title= 'Вы успешно зарегистрировались!'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+sAuth3(title)(style="max-width: 715px")
		
	+parts('footer')
