mixin sGallery(data)
	// start sGallery
	+b.SECTION.sGallery.section#sGallery&attributes(attributes)
		.container
			+b.section-title.pricing
				h2 Работы
			+e.categories.sGallery-slider--js
				.d-none.d-lg-block: +arrow2
				.swiper-wrapper.fw-700
					.swiper-slide: a.category.active(href='#') Вид прокола
					.swiper-slide: a.category(href='#') Вид прокола
					.swiper-slide: a.category(href='#') Вид прокола
					.swiper-slide: a.category(href='#') Вид прокола
					.swiper-slide: a.category(href='#') Вид прокола
					.swiper-slide: a.category(href='#') Вид прокола
					.swiper-slide: a.category(href='#') Вид прокола
					.swiper-slide: a.category(href='#') Вид прокола
			+e.grid
				+e.img-wrap(href=`img/sGallery-1.png` data-fancybox='sGallery'): +img(src="img/sGallery-1.png", alt="").img-bg
				+e.img-wrap(href=`img/sGallery-2.png` data-fancybox='sGallery'): +img(src="img/sGallery-2.png", alt="").img-bg
				+e.img-wrap(href=`img/sGallery-3.png` data-fancybox='sGallery'): +img(src="img/sGallery-3.png", alt="").img-bg
				+e.img-wrap.sm-h(href=`img/sGallery-4.png` data-fancybox='sGallery'): +img(src="img/sGallery-4.png", alt="").img-bg
				+e.img-wrap.sm-h(href=`img/sGallery-5.png` data-fancybox='sGallery'): +img(src="img/sGallery-5.png", alt="").img-bg
				+e.img-wrap.sm-h(href=`img/sGallery-6.png` data-fancybox='sGallery'): +img(src="img/sGallery-6.png", alt="").img-bg
				+e.img-wrap.sm-h(href=`img/sGallery-7.png` data-fancybox='sGallery'): +img(src="img/sGallery-7.png", alt="").img-bg
				+e.img-wrap.sm-h(href=`img/sGallery-8.png` data-fancybox='sGallery'): +img(src="img/sGallery-8.png", alt="").img-bg
			+e.btn-wrap.text-center.d-none.d-lg-block
				+e.btn.btn.btn-dark(href='#') Записаться
			+e.btn-wrap.text-center.d-lg-none
				+e.btn.btn.btn-outline-dark(href='#') смотреть еще
	// end sGallery