mixin sBrands(data)
	// start sBrands
	+b.SECTION.sBrands.section#sBrands&attributes(attributes)
		.container
			+b.section-title.text-center-md
				h2 Бренды
			+e.slider--js
				+arrow
				.swiper
					.swiper-wrapper
						+e.slide.swiper-slide: +img('img/brand-1.png')
						+e.slide.swiper-slide: +img('img/brand-2.png')
						+e.slide.swiper-slide: +img('img/brand-3.png')
						+e.slide.swiper-slide: +img('img/brand-4.png')
						+e.slide.swiper-slide: +img('img/brand-5.png')
						+e.slide.swiper-slide: +img('img/brand-6.png')
						+e.slide.swiper-slide: +img('img/brand-7.png')
						+e.slide.swiper-slide: +img('img/brand-1.png')
						+e.slide.swiper-slide: +img('img/brand-2.png')
						+e.slide.swiper-slide: +img('img/brand-3.png')
						+e.slide.swiper-slide: +img('img/brand-4.png')
						+e.slide.swiper-slide: +img('img/brand-5.png')
						+e.slide.swiper-slide: +img('img/brand-6.png')
						+e.slide.swiper-slide: +img('img/brand-7.png')
	// end sBrands