

mixin sCatalog(h2)
	// start sCatalog
	+b.sCatalog.section&attributes(attributes)
		.container
			+b.section-title.text-center-md
				h2 Все украшения
			+filterGroup('Фильтры')
			+e.row.row
				- const wrapClass="col-6 col-md-4 col-lg-3"
				+e.col(class= wrapClass)
					+product-item(`1`,`Кольцо-кликер`,`2 800 ₽`, 'нет в наличии')
				+e.col(class= wrapClass)
					+product-item(`2`,`Треугольник`,`2 800 ₽`)
				+e.col(class= wrapClass)
					+product-item(`3`,`Кольцо-кликер`,`2 800 ₽`)
				+e.col(class= wrapClass)
					+product-item(`4`,`Топ M&M’s`,`2 800 ₽`)
				+e.col(class= wrapClass)
					+product-item(`5`,`Кольцо-кликер`,`2 800 ₽`)
				+e.col(class= wrapClass)
					+product-item(`6`,`Треугольник`,`2 800 ₽`)
				+e.col(class= wrapClass)
					+product-item(`7`,`Кольцо-кликер Топ M&M’s`,`2 800 ₽`)
				+e.col(class= wrapClass)
					+product-item(`8`,`Топ M&M’s`,`21 800 ₽`)
				+e.col(class= wrapClass)
					+product-item(`4`,`Топ M&M’s`,`2 800 ₽`)
				+e.col(class= wrapClass)
					+product-item(`5`,`Кольцо-кликер`,`2 800 ₽`)
				+e.col(class= wrapClass)
					+product-item(`6`,`Треугольник`,`2 800 ₽`)
				+e.col(class= wrapClass)
					+product-item(`7`,`Кольцо-кликер Топ M&M’s`,`2 800 ₽`)
				+e.col(class= wrapClass)
					+product-item(`8`,`Топ M&M’s`,`21 800 ₽`)
			+e.btn-wrap.text-center: +e.btn.btn.btn-primary(href='#') показать еще

	// end sCatalog

mixin sCatalog2(h2)
	// start sCatalog
	+b.sCatalog.sCatalog--favorite.section&attributes(attributes)
		.container
			+b.section-title
				h2= h2
			+e.row.row
				- const wrapClass="col-6 col-md-4 col-lg-3"
				+e.col(class= wrapClass)
					+product-item-fav(`1`,`Кольцо-кликер`,`2 800 ₽`, 'нет в наличии')
				+e.col(class= wrapClass)
					+product-item-fav(`2`,`Треугольник`,`2 800 ₽`)
				+e.col(class= wrapClass)
					+product-item-fav(`3`,`Кольцо-кликер`,`2 800 ₽`)
				+e.col(class= wrapClass)
					+product-item-fav(`4`,`Топ M&M’s`,`2 800 ₽`)
				+e.col(class= wrapClass)
					+product-item-fav(`5`,`Кольцо-кликер`,`2 800 ₽`)
				+e.col(class= wrapClass)
					+product-item-fav(`6`,`Треугольник`,`2 800 ₽`)

mixin filterGroup(title)
	.filters-group
		.filters-wrap.filter-nav.d-lg-none
			+e.title= title
			+icon('filter')
		.filters-wrap.filters-wrap--js
			.modail-title-wrap.d-lg-none
				.title Фильтры
				.icon-close-wrap: +icon('close')
			.filters
				.text.d-lg-none Выберите размер
				+b.filter--js
					+e.title Размеры
						+icon('arrow-top')
						+e.wrap
							+in-c("checkbox", 'Красный')
							+in-c("checkbox", 'Зеленый Зеленый')
							+in-c("checkbox", 'Красный')(checked)
				.text.d-lg-none Цвета
				+b.filter--js
					+e.title Цвета
						+icon('arrow-top')
						+e.wrap
							+in-c("checkbox", 'Красный')
							+in-c("checkbox", 'Зеленый')
							+in-c("checkbox", 'Красный')
							+in-c("checkbox", 'Зеленый')
							+in-c("checkbox", 'Красный')
				.text.d-lg-none Выберите материал
				+b.filter--js
					+e.title Материалы
						+icon('arrow-top')
						+e.wrap
							+in-c("checkbox", 'Красный')
							+in-c("checkbox", 'Зеленый')
							+in-c("checkbox", 'Красный')
							+in-c("checkbox", 'Зеленый')
							+in-c("checkbox", 'Красный')
				.text.d-lg-none Бренды
				+b.filter--js
					+e.title Бренд
						+icon('arrow-top')
						+e.wrap
							+in-c("checkbox", 'Красный')
							+in-c("checkbox", 'Зеленый')
							+in-c("checkbox", 'Красный')
							+in-c("checkbox", 'Зеленый')
							+in-c("checkbox", 'Красный')
			+e.price-wrap
				+e.price-div
					+e.price Цена
					+range(1000, 6000)
				button.btn.btn-apply.btn-primary#btn-apply-mob.d-lg-none Применить фильтры
				button.btn.btn-apply.btn-primary#btn-apply.d-none.d-lg-inline Применить
		button.btn.btn-secondary#btn-clear.d-none.d-lg-inline Очистить все