mixin sMasters(data)
	// start sMasters
	+b.SECTION.sMasters.section#sMasters&attributes(attributes)
		.container
			+b.section-title.text-center.pricing
				h2 Наши мастера
			+e.categories.sBlog-slider--js
				.swiper-wrapper.fw-700
					.swiper-slide: a.category.active(href='#') Сооснователь
					.swiper-slide: a.category(href='#') Старший мастер
					.swiper-slide: a.category(href='#') Мастер
					.swiper-slide: a.category(href='#') Администратор
					.swiper-slide: a.category(href='#') Все
			.title.sub-title Все мастера из данной категории
			+e.row.row
				- const wrapClass="col col-sm-6 col-lg-4 col-xxl-3"
				+e.col(class= wrapClass)
					+masterItem( '2','Ирина', 'Администратор')
				+e.col(class= wrapClass)
					+masterItem( '1','Аня Бамбуча', 'Сооснователь, Старший мастер')
				+e.col(class= wrapClass)
					+masterItem( '3','Марго', 'Старший мастер')
				+e.col(class= wrapClass)
					+masterItem( '2','Ирина', 'Администратор')
				+e.col(class= wrapClass)
					+masterItem( '4','Михаил Бут', 'Сооснователь, Старший мастер')
				+e.col(class= wrapClass)
					+masterItem( '3','Марго', 'Старший мастер')
				+e.col(class= wrapClass)
					+masterItem( '2','Ирина', 'Администратор')
				+e.col(class= wrapClass)
					+masterItem( '1','Аня Бамбуча', 'Сооснователь, Старший мастер')
				+e.col(class= wrapClass)
					+masterItem( '4','Михаил Бут', 'Сооснователь, Старший мастер')
				+e.col(class= wrapClass)
					+masterItem( '2','Ирина', 'Администратор')
				+e.col(class= wrapClass)
					+masterItem( '1','Аня Бамбуча', 'Сооснователь, Старший мастер')
				+e.col(class= wrapClass)
					+masterItem( '3','Марго', 'Старший мастер')
				+e.col(class= wrapClass)
					+masterItem( '2','Ирина', 'Администратор')
				+e.col(class= wrapClass)
					+masterItem( '4','Михаил Бут', 'Сооснователь, Старший мастер')
				+e.col(class= wrapClass)
					+masterItem( '3','Марго', 'Старший мастер')
	// end sMasters

mixin masterItem(i, title, text)
	+b.master-item
		+e.content
			.title=title
			.text.text-secondary=text
			+e.img-wrap.text-center
				+img(src=`img/svg/sMasters-bg.svg`, alt="").img
				+img(src=`img/sMasters-${i}.png`, alt="").master
		+e.btn-wrap.text-center: +e.btn.btn.btn-primary(href="#") Подробнее