mixin topLine()
	// start topLine
	+b.topLine.section#topLine.d-none.d-lg-block&attributes(attributes)
		.container
			+e.item
				+mnu()
				+b.phone
					+e.tel.title(href="tel:+79269199136") +7 (926) 919-91-36
					+e.time.small Ежедневно с 12:00 до 21:00
	// end topLine