.menu {
	& {
		list-style: none;
		position: relative;
		margin-bottom: 0;
		max-width: 100%;
	}
	li {
		padding: 0;
	}
	a {
		display: block;
		padding: rem(20) calc(var(--bs-gutter-x) / 2);
	}
}

.toggle-menu-mobile {
	& {
		--h: #{em(2)};
		--color: #{$white};
		background: $black;
		padding: 0 rem(6);
		@include media-breakpoint-up(lg) {
			--color: #{$black};
			background: transparent;
			height: calc(var(--h) * 12);
			padding: 0;
			--position: calc(var(--h) * 2.6);
		}
		--position: calc(var(--h) * 2);

		display: block;
		height: calc(var(--h) * 9);
		position: relative;
		font-size: 32px;
		width: 38px;
		cursor: pointer;
	}
	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
	}
	span {
		@include a-cent(y);
		display: block;
	}

	span:before {
		top: var(--position);
		transform: rotate3d(0, 0, 1, var(--rotate, 0));
	}

	span:after {
		bottom: var(--position);
		transform: rotate3d(0, 0, 1, calc(-1 * var(--rotate, 0)));
	}
	span,
	span:after,
	span:before {
		width: 25px;
		@include media-breakpoint-up(lg) {
			width: 34px;
		}
		height: calc(var(--h) / 2);
		background-color: var(--color);
		transition: all 0.3s;
		backface-visibility: hidden;
		transform-origin: 50% 50%;
	}

	&.on span {
		font-size: 24px;
		@include media-breakpoint-down(lg) {
			--color: transparent;
		}
	}

	&.on {
		@include media-breakpoint-down(lg) {
			--rotate: 45deg;
			--position: 0;
			// height: 30px;
		}
	}
}
.menu-mobile {
	@include mt(0.6s);
	will-change: transform;
	& {
		position: fixed !important;
		z-index: 999;
		width: 100%;
		top: 0;
		right: 0;
		background-color: $black;
		@include media-breakpoint-up(lg) {
			width: rem(400);
			position: absolute !important;
			left: 0;
			top: calc(100% + 10px);
			border-radius: rem(10);
		}
	}
	&:not(.active) {
		& {
			// transform: translate3d(120%, 0, 0);
			--opacity: 0;
			opacity: var(--opacity);
			visibility: hidden;
		}
		.toggle-menu-mobile {
			opacity: 0;
			@include media-breakpoint-up(lg) {
				opacity: 1;
			}
		}
	}
	.top-wrap {
		display: flex;
		justify-content: space-between;

		max-width: 79%;
		margin: auto;
		margin-bottom: rem(24);
	}

	.toggle-menu-mobile {
		// margin-left: -15%;
		// position: absolute;
		// left: 0;
		// right: auto;
		position: relative;
		color: #fff;
		// top: 21px;
		// right: 50px;
		z-index: 9999;
		span:after,
		span:before {
			--color: #ffffff;
		}
	}
	&__inner {
		padding: calc(env(safe-area-inset-top, 0px) + #{rem(20)}) 0
			calc(env(safe-area-inset-bottom, 0px) + #{rem(20)});
		padding-top: rem(14);
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		height: 100vh;
		// @include mt(.3s);
		// transition-delay: .4s;
		// opacity: var(--opacity);

		@include media-breakpoint-up(lg) {
			height: auto;
		}
	}

	&.active {
		.toggle-menu-mobile {
			opacity: 1;
		}
	}

	ul {
		position: relative;
	}

	li {
		display: block;
		margin: 0;
		text-align: center;

		a {
			font-size: 14px;

			padding: 7px;
			padding-bottom: rem(6);
			display: block;
			color: $white;
		}
	}
}

.icons-nav {
	display: flex;
	gap: rem(17);
	justify-content: flex-end;
	--icon-color: #424242;
	@include media-breakpoint-up(lg) {
		--icon-color: #aba7a7;
		justify-content: space-evenly;
	}

	.icon {
		font-size: rem(18);
		@include media-breakpoint-up(lg) {
			font-size: rem(20);
			// transform: translateY(-3px);
		}
	}

	.icon-heart,
	.icon-user {
		fill: none;
		stroke-width: 2;
		stroke: var(--icon-color);
	}
	.icon-bag {
		fill: var(--icon-color);
		font-size: rem(20);
		@include media-breakpoint-up(lg) {
			font-size: rem(24);
		}
		stroke-width: 0.2;
		stroke: var(--icon-color);
	}

	.text {
		font-size: rem(14);
		color: #514e4e;
		font-weight: 500;
		line-height: 120%;
		letter-spacing: 0.01em;
		position: relative;
		@include media-breakpoint-down(lg) {
			display: none;
		}
	}

	.span {
		color: #827d7d;
		font-size: 11px;
		letter-spacing: 0.02em;
		line-height: 110%;

		position: absolute;
		left: 0;
		top: 100%;
	}
	a {
		display: flex;
		gap: rem(15);
		align-items: center;
	}
	&__icon-wrap {
		position: relative;
	}

	.icon-span {
		width: rem(12);
		height: rem(12);
		border-radius: 50%;

		position: absolute;
		top: 0;
		right: -5px;

		line-height: 1;
		font-size: rem(5);
		background: $red;
		color: $white;

		display: flex;
		justify-content: center;
		align-items: center;
	}
}
