 
	  
.soc{
	@include roww(10px, m);
	display: flex;
	&__item{
		text-decoration: none !important; 
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
		
	}
	.icon{
		font-size: rem(30);
	}


}


.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}




.addBlock{
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input{
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn{
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after{
			content: '';
			width: 10px;
			height: 2px; 
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after{
			transform: rotate(90deg);
		}
	}
}


.search-block{
	position: relative;
	input{
		font-size: 12px;
		width: 100%;
		// border: none !important;
    border-color: $border-color;
    border-width: 1px;
		outline: none !important;
    border-radius: rem(5);
		padding-left: rem(46);
		padding-top: rem(10);
		padding-bottom: rem(10);
    background: transparent;
    &::placeholder {
      color: #545353;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.02em;
    }
    
	}
	.icon{
		font-size: rem(16);
		border: none !important;
    fill: #737373;
	}
	button{
		position: absolute;
		left: 0;
		top: 0;
    padding-left: rem(15);
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
	}
}

.breadcrumb-item{
	width: auto;
	// margin-right: rem(32);
}

.icons-wrap {
  display: flex;
  align-items: center;
  gap: rem(13);

  @include media-breakpoint-up(md) {
    gap: rem(22);
  }

  .icon {
    fill: $gray-900;
    @include mt;
    &:hover {
      fill: $primary;
    }
  }
}