.soc {
	@include roww(10px, m);
	display: flex;
	&__item {
		text-decoration: none !important;
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&:hover {
			// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
	}
	.icon {
		font-size: rem(30);
	}
}

.counter {
	counter-reset: num;
	&__item {
		position: relative;
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.addBlock {
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input {
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn {
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after {
			content: "";
			width: 10px;
			height: 2px;
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after {
			transform: rotate(90deg);
		}
	}
}

.search-block {
	position: relative;
	input {
		font-size: 12px;
		width: 100%;
		// border: none !important;
		box-shadow: none !important;
		border: 1px solid $border-color;
		border-width: 1px;
		outline: none !important;
		border-radius: rem(5);
		padding-left: rem(46);
		padding-top: rem(10);
		padding-bottom: rem(10);
		background: transparent;
		&::placeholder {
			color: #545353;
			font-size: 12px;
			font-weight: 500;
			letter-spacing: 0.02em;
		}
	}
	.icon {
		font-size: rem(16);
		border: none !important;
		fill: #737373;
	}
	button {
		position: absolute;
		left: 0;
		top: 0;
		padding-left: rem(15);
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
	}
}

.breadcrumb-item {
	width: auto;
	// margin-right: rem(32);
}

.icons-wrap {
	display: flex;
	align-items: center;
	gap: rem(13);

	@include media-breakpoint-up(md) {
		gap: rem(22);
	}

	.icon {
		fill: $gray-900;
		@include mt;
		&:hover {
			fill: $primary;
		}
	}
}

.irs--round .irs-to,
.irs--round .irs-from {
	font-weight: 500;
	font-size: 11px;
	line-height: 110%;
	top: 17px;
	letter-spacing: 0.02em;
	color: #b1a7a7;
	background-color: transparent;
	&::before {
		content: none;
	}
}
.irs--round .irs-from {
	left: -5px;
}

.irs--round .irs-bar {
	top: 8px;
	background-color: #d5d5d5;
}
.irs--round {
	height: 20px;
}
.irs--round .irs-line {
	top: 8px;
}
.irs--round .irs-handle {
	top: 5px;
	width: 28px;
	height: 10px;
	border: 4px solid #5b5644;
	background-color: #5b5644;
	border-radius: 24px;
	box-shadow: 0 1px 3px rgba(0, 0, 255, 0.3);
}

.product-item {
	display: flex;
	flex-direction: column;

	min-height: 100%;
	position: relative;

	&__img-wrap {
		background: #ffffff;
		border-radius: 12px;
		@include block(268, 203);
		@include media-breakpoint-up(lg) {
			@include block(361, 327);
			//   border-radius: 0;
		}
		&:hover {
			box-shadow: 2px 5px 15px 0 rgba(43, 49, 52, 0.1);
		}
	}
	&__caption {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		gap: rem(11);
		padding-top: rem(14);
		@include media-breakpoint-up(lg) {
			gap: rem(6);
		}
	}

	&__title {
		font-weight: 600;
		font-size: rem(14);
		line-height: 120%;
		letter-spacing: 0.02em;
		color: $gray-900;
		@include media-breakpoint-up(lg) {
			font-size: rem(20);
		}
	}

	&__price {
		color: $gray-900;
		font-family: $headings-font-family;
		letter-spacing: 0.03em;
		font-size: rem(14);
		@include media-breakpoint-up(lg) {
			font-size: rem(18);
		}
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: rem(6);
		flex-wrap: wrap;
	}

	img {
		max-width: 94%;
	}

	.icon {
		position: absolute;

		top: var(--icon-pad);
		right: var(--icon-pad);
		--icon-pad: 10px;
		font-size: rem(26);
		@include media-breakpoint-up(lg) {
			--icon-pad: 23px;
			font-size: rem(35);
		}
		z-index: 2;
		@include mt;

		stroke: $gray-650;
		stroke-width: 2px;
		fill: transparent;
		&:hover,
		&.active {
			fill: $red;
			stroke: $red;
		}
	}

	&__badge {
		position: absolute;
		font-weight: 600;
		line-height: 100%;
		letter-spacing: 0.03em;
		color: #fff;
		background: $black;
		padding: rem(7);
		border-radius: 10px;

		top: var(--badge-pad);
		left: var(--badge-pad);
		font-size: 11px;
		--badge-pad: 10px;
		@include media-breakpoint-up(lg) {
			font-size: 13px;
			--badge-pad: 27px;
		}
	}

	.btn {
		@include media-breakpoint-down(md) {
			font-size: rem(11);
		}
		@include media-breakpoint-up(lg) {
			--bs-btn-padding-y: #{rem(10)};
		}
	}

	.btn-primary {
		--bs-btn-padding-y: #{rem(12)};
		--bs-btn-padding-x: #{rem(20)};
		@include media-breakpoint-up(lg) {
			--bs-btn-padding-x: #{rem(26)};
		}
	}
}
