.soc {
	@include roww(10px, m);
	display: flex;
	&__item {
		text-decoration: none !important;
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&:hover {
			// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
	}
	.icon {
		font-size: rem(30);
	}
}

.counter {
	counter-reset: num;
	&__item {
		position: relative;
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.addBlock {
	color: var(--color, #{$dark});
	display: flex;
	position: relative;
	overflow: hidden;
  gap: rem(12);
	input {
		color: inherit;
		text-align: center;
		border: none;
		height: rem(40);
    width: rem(70);
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.02em;
		border-radius: 10px;
    border: 1px solid #DBDFE7;
	}
	&__btn {
		color: inherit;
		height: rem(40);
		position: relative;
		border-radius: 10px;
    border: 1px solid #DBDFE7;
		background: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(46);
		&::before,
		&::after {
			content: "";
			width: 10px;
			height: 1.5px;
			background-color: $dark;
			@include a-cent;
			position: absolute;
		}
		&--plus::after {
			transform: rotate(90deg);
		}
	}

  &--sm {
    gap: rem(2);
    .addBlock  {
      &__btn {
        width: rem(10);
        border: none !important;
      }
    }
    input {
      border: none !important;
      width: rem(40);
    }
  }
}

.search-block {
	position: relative;
	input {
		font-size: 12px;
		width: 100%;
		// border: none !important;
		box-shadow: none !important;
		border: 1px solid $border-color;
		border-width: 1px;
		outline: none !important;
		border-radius: rem(5);
		padding-left: rem(46);
		padding-top: rem(10);
		padding-bottom: rem(10);
		background: transparent;
		&::placeholder {
			color: #545353;
			font-size: 12px;
			font-weight: 500;
			letter-spacing: 0.02em;
		}
	}
	.icon {
		font-size: rem(16);
		border: none !important;
		fill: #737373;
	}
	button {
		position: absolute;
		left: 0;
		top: 0;
		padding-left: rem(15);
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
	}
}

.breadcrumb-item {
	width: auto;
	// margin-right: rem(32);
}

.icons-wrap {
	display: flex;
	align-items: center;
	gap: rem(13);

	@include media-breakpoint-up(md) {
		gap: rem(22);
	}

	.icon {
		fill: $gray-900;
		@include mt;
		&:hover {
			fill: $primary;
		}
	}
}

.irs--round .irs-to,
.irs--round .irs-from {
	font-weight: 500;
	font-size: 11px;
	line-height: 110%;
	top: 17px;
	letter-spacing: 0.02em;
	color: #b1a7a7;
	background-color: transparent;
	&::before {
		content: none;
	}
}
.irs--round .irs-from {
	left: -5px;
}

.irs--round .irs-bar {
	top: 8px;
	background-color: #d5d5d5;
}
.irs--round {
	height: 20px;
}
.irs--round .irs-line {
	top: 8px;
}
.irs--round .irs-handle {
	top: 5px;
	width: 28px;
	height: 10px;
	border: 4px solid #5b5644;
	background-color: #5b5644;
	border-radius: 24px;
	box-shadow: 0 1px 3px rgba(0, 0, 255, 0.3);
}

.product-item {
	display: flex;
	flex-direction: column;

	min-height: 100%;
	position: relative;

	&__img-wrap {
		background: #ffffff;
		border-radius: 12px;
		@include block(268, 203);
		@include media-breakpoint-up(lg) {
			@include block(361, 327);
			//   border-radius: 0;
		}
		&:hover {
			box-shadow: 2px 5px 15px 0 rgba(43, 49, 52, 0.1);
		}
	}
	&__caption {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		gap: rem(11);
		padding-top: rem(14);
		@include media-breakpoint-up(lg) {
			gap: rem(6);
		}
	}

	&__title {
		font-weight: 600;
		font-size: rem(14);
		line-height: 120%;
		letter-spacing: 0.02em;
		color: $gray-900;
		@include media-breakpoint-up(lg) {
			font-size: rem(20);
		}
	}

	&__price {
		color: $gray-900;
		font-family: $headings-font-family;
		letter-spacing: 0.03em;
		font-size: rem(14);
		@include media-breakpoint-up(lg) {
			font-size: rem(18);
		}
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: rem(6);
		flex-wrap: wrap;
	}

	img {
		max-width: 94%;
	}

	.icon {
		position: absolute;

		top: var(--icon-pad);
		right: var(--icon-pad);
		--icon-pad: 10px;
		font-size: rem(26);
		@include media-breakpoint-up(lg) {
			--icon-pad: 23px;
			font-size: rem(35);
		}
		z-index: 2;
		@include mt;

		stroke: $gray-650;
		stroke-width: 2px;
		fill: transparent;
		&:hover,
		&.active {
			fill: $red;
			stroke: $red;
		}
	}

	&__badge {
		position: absolute;
		font-weight: 600;
		line-height: 100%;
		letter-spacing: 0.03em;
		color: #fff;
		background: $black;
		padding: rem(7);
		border-radius: 10px;

		top: var(--badge-pad);
		left: var(--badge-pad);
		font-size: 11px;
		--badge-pad: 10px;
		@include media-breakpoint-up(lg) {
			font-size: 13px;
			--badge-pad: 27px;
		}
	}

	.btn {
		@include media-breakpoint-down(md) {
			font-size: rem(11);
		}
		@include media-breakpoint-up(lg) {
			--bs-btn-padding-y: #{rem(10)};
		}
	}

	.btn-primary {
		--bs-btn-padding-y: #{rem(12)};
		--bs-btn-padding-x: #{rem(20)};
		@include media-breakpoint-up(lg) {
			--bs-btn-padding-x: #{rem(26)};
		}
	}
}

.cart-product {
  display: flex;
  gap: rem(13);
  align-items: flex-start;
  position: relative;
  @include media-breakpoint-down(lg) {
    padding-right: rem(30);
  }
  @include media-breakpoint-up(lg) {
    align-items: center;
    gap: rem(27);
  }

  &__icon-wrap {
    position: absolute;
    top: 0;
    right: 0;
    .icon {
      stroke-width: 1px;
      stroke: #9E9E9E;
      font-size: rem(16);
    }
  }

  .img-wrap {
    flex-shrink: 0;
    width: rem(123);
    max-width: rem(123);
    @include media-breakpoint-up(xl) {
      width: rem(143);
      max-width: rem(143);
    }
    img {
      max-width: 100%;
      width: 100%;
    }
  }

  &__title {
    font-size: rem(12px);
    line-height: 136%;
    letter-spacing: 0.03em;
    font-weight: 400 !important;
    margin-bottom: rem(8);
    @include media-breakpoint-up(lg) {
      font-size: rem(18px);
      margin-bottom: rem(12);
    }
  }

  &__descr {
    @include media-breakpoint-up(lg) {
      align-items: center;
      gap: rem(7);
      display: grid;
      grid-template-columns: .62fr .4fr 80px 186px 80px;
    }
    @include media-breakpoint-up(xl) {
      gap: rem(27);
    }
    @include media-breakpoint-up(xxl) {
      grid-template-columns: .62fr .4fr 80px 200px 140px;
      .add {
        margin-left: auto;
      }
      .price-xxl {
        text-align: center;
        margin-left: 30%;
      }
    }
  }

  .text-secondary {
    font-size: rem(10);
    font-weight: 300;
    letter-spacing: 0.03em;
    @include media-breakpoint-up(lg) {
      font-size: rem(12);
    }
  }

  &__item-wrap {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: rem(14);
    margin-bottom: rem(14);
  }

  &__article {
    font-weight: 500;
    font-size: rem(14px);
    line-height: 110%;
    letter-spacing: 0.02em;
    color: #8f99ab;
  }
  .img {
    @include media-breakpoint-down(lg) {
      background: #F7F7F7;
      border-radius: rem(6);
    }
  }

  &__item-title {
    margin-bottom: rem(6);
  }

  &__item-text {
    font-weight: 300;
    font-size: 10px;
    line-height: 162%;
    letter-spacing: 0.03em;
    color: #030303;
  }

  &__price {
    font-weight: 600;
    font-size: rem(14px);
    line-height: 120%;
    letter-spacing: 0.02em;
    flex-shrink: 0;
    @include media-breakpoint-up(lg) {
      font-size: rem(16px);
    }
  }

  .custom-select-wrap {
    flex-shrink: 0;
  }

  .custom-select-wrap .select2 {
    max-width: rem(70);
    width: rem(70);
    line-height: 162%;
    letter-spacing: 0.03em;
    font-weight: 300;
    .select2-selection {
      border-radius: rem(16) !important;
      padding: 5px 11px 4px 14px;
      background-position: right 9px center;
    }
  }

  &--modal {
    margin-bottom: rem(20);
    padding-right: 0 !important;
    .cart-product {
      &__title {
        font-size: rem(12px);
        line-height: 136%;
        margin-bottom: rem(5);
      }
      &__article {
        font-size: rem(9px);
      }
      &__descr {
          align-items: center;
          gap: rem(20);
          display: grid;
          grid-template-columns: 62px 1fr 1fr repeat(3, max-content);
      }
      &__icon-wrap {
        position: static;
        .icon {
          stroke: $black;
        }
      }
    }

    .img-wrap {
      width: rem(62) !important;
    }
    .text-secondary {
      font-size: rem(8px) !important;
      line-height: 1.25;
      font-weight: 300;
    }
  }
}
